@charset "utf-8";



/* 共通CSS */
body {
  font-family: 'メイリオ', Meiryo, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  background-color: #fff;
  color: #333;
  font-weight: normal;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body section {
  padding: 70px 0;
}

section .title {
  text-align: center;
  font-size: 42px;
  color: #01A0E9;
}

section .title .em {
  display: block;
  font-size: 17px;
  letter-spacing: 0.2em;
  color: #999;
  margin-top: 15px;
}

.catName {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  line-height: 100%;
  margin: 0 10px 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #01A0E9;
}



/* ヘッダー */
body header {
  width: 100%;
}

#header.fixed {
  position: fixed;
  /*fixedを設定して固定*/
  z-index: 999;
  /*最前面へ*/
  top: 0;
  /*位置指定*/
  left: 0;
  /*位置指定*/
  width: 100%;
}

header h1 img {
  max-width: 100%;
  display: block;
  padding-top: 9px;
}

header .header_inner {
  background-color: #AFE9DF;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}












/*==================================================
スライダーのためのcss
===================================*/
.slider {
  position: relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  margin-bottom: 30px;
}

/*　背景画像設定　*/

.slider-item01 {
  background: url(../images/slide/topimg1.png);
}

.slider-item02 {
  background: url(../images/slide/topimg2.png);
}

.slider-item03 {
  background: url(../images/slide/topomg3.png);
}


.slider-item {
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  height: 100vh;
  /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*背景画像が.slider-item全体を覆い表示*/
  object-fit: cover;
}

/*矢印の設定*/

.slick-prev,
.slick-next {
  display: none;
}

/*ドットナビゲーションの設定*/
.slick-dots {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: -50px 0 0 0;
  /*ドットの位置*/
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  display: none;
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}



/* トップイメージテキストの装飾 */
.slide-contents {
  position: absolute;
  /* 絶対配置 */
  top: 50%;
  /* 上から50% */
  left: 50%;
  /* 左から50% */
  transform: translate(-50%, -50%);
  /* 自身のサイズ分戻して真ん中に */
  z-index: 10;
  /* スライダー(z-index:1)より大きい値にする */
  text-align: center;
  width: 100%;
  /* 横幅いっぱい */
  pointer-events: none;
  /* テキストが邪魔してクリックできないのを防ぐ */
}

/* テキストの装飾（すでにある記述を活かす） */
.slider-title {
  font-family: "Noto Serif JP", serif;
  font-size: 120px;
  font-weight: 900;
  color: #fff;
  background-color: rgba(0, 153, 204, 0.6);
  padding: 15px 0 30px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.slider-sub {
  font-family: "Noto Serif JP", serif;
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
}

.sub {
  font-size: 35px;
  color: #FFF;
  padding: 15px 10px 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  background-color: rgba(0, 153, 204, 0.6);
}












/* スライドショー */
header .slide {
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
}

.slide .slide-inner img {
  width: 100%;
  display: block;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  /*スマホ表示折り返し用なのでPCのみなら不要*/
  justify-content: space-around;
  list-style: none;
}

header ul li {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
}

header ul li a {
  display: block;
  padding: 30px 20px 10px 20px;
  text-decoration: none;
  color: #333;
}

/* ＝＝＝ヘッダーSNSボタン＝＝＝＝ */

.openbtn {
  display: none;
}

header .cta {
  display: flex;
}

header .cta span {
  display: block;
}

header .cta .cta-tiktok {
  letter-spacing: 3px;
}

header .cta a {
  display: block;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #e6f3fe;
  padding: 25px 20px;
}

header .cta a:hover {
  opacity: 0.8;
}

header .cta .cta-line {
  background-color: #05AC47;
}

header .cta .cta-tiktok {
  background-color: #333;
}

header .cta .cta-ig {
  background-color: #DE2C7A;
}


/*==================================
　5-3-1 中心から外に線が伸びる（ホバー）
===================================*/

header ul li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}

header ul li.current a,
header ul li a:hover {
  color: #0481A2;
}

header ul li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #0481A2;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: center top;
  /*上部中央基点*/
}

/*現在地とhoverの設定*/
header ul li.current a::after,
header ul li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}



/* アイコン */
.icons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px auto 0;
}

.icons img {
  display: block;
  max-width: 400px;
  opacity: 1;
  transition: .3s ease-in-out;
}

.icons a {
  text-decoration: none;
}

.icons a:hover {
  opacity: 0.8;
}




/* ここからメイン */
.company {
  background-image: url(../images/company-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* 事業案内 */
.company .inner {
  text-align: center;
  margin: 50px auto;
}

.company .inner h2 {
  background-color: #fff;
  font-size: 40px;
  line-height: 50px;
  color: #01A0E9;
}

.company .inner p {
  padding-top: 30px;
  line-height: 45px;
}

.company .inner .intro_p_main {
  font-size: 25px;
  color: #FF8E3E;
  font-weight: 600;
}




/* バイトを探す */
body #jobArea {
  background-color: #e6f3fe;
}

#jobArea .inner {
  background-color: #fff;
  padding: 50px 0;
  margin-top: 20px;
}

#jobArea .inner .jobBtns {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

#jobArea .inner .jobBtns .button {
  width: 200px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  background-color: #009ae0;
  border: 1px solid #eee;
  border-radius: 10px;
  font-weight: bold;
}

#jobArea .inner a {
  text-decoration: none;
}

#jobArea .inner a:hover {
  opacity: 0.8;
}

#jobArea .inner .jobBtns .first-button {
  width: 300px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  background-color: #009ae0;
  border-radius: 10px;
  font-weight: bold;
}




/* 応募までの流れ */
body #flow .flow-item {
  display: flex;
  align-items: center;
  margin: 30px auto;
}

#flow .flow-icon {
  padding: 10px;
}

#flow .flow-icon span {
  color: #e88244;
  font-size: 90%;
  font-weight: 600;
}

#flow .flow-item img {
  display: block;
}

#flow .flow-text {
  flex: 1;
  padding: 30px 20px;
  background-color: #F7F5F1;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(125, 55, 4, 0.26);
}

#flow .flow-text h3 {
  color: #e88244;
  font-size: 120%;
  padding-bottom: 20px;
}




/* お知らせ */
#news {
  background-color: #F7F2E4;
  text-align: center;
}

.news-list {
  margin: 50px auto;
  padding: 50px 30px;
  list-style-type: none;
}

.news-list .news-item {
  padding: 20px 0;
  margin-bottom: 5px;
  border-bottom: 1px dashed #00a0e9;
}

.news-item a {
  color: #103d93;
}

.news-item a:hover {
  text-decoration: none;
}

#news .inner .news-btn {
  width: 200px;
  color: #103d93;
  font-size: 20px;
  line-height: 60px;
  border: 2px solid #103d93;
  border-radius: 40px;
  background-color: #FFF;
  margin: 0 auto;

}

#news .inner .news-btn a {
  width: 100%;
  text-decoration: none;
  color: #103d93;
}

#news .inner .news-btn a:hover {
  background-color: #57a2c7;
}




/* よくある質問 */
#faq .inner {
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  gap: 15px;
}

#faq .faq-item {
  width: 100%;
}

#faq .faq-item summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EFF9FF;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
}

#faq .faq-item summary span {
  display: block;
  font-size: 25px;
  font-weight: 700;
}

#faq .faq-item .faq-answer {
  font-size: 20px;
  padding: 10px 15px;
  margin-left: 35px;
  text-align: left;
}

#faq summary::after {
  content: "＋";
  /* ひとまず文字で出す場合 */
  font-size: 20px;
  color: #e88244;
  /* ロゴのオレンジ */
  font-weight: bold;
  transition: transform 0.3s;
}

/* 4. 開いた時（open）の動き */
#faq details[open] summary::after {
  content: "ー";
  /* 開いたらマイナスに変える */
  transform: rotate(180deg);
  /* くるっと回すとより動きが出ます */
}




/* お問い合わせ */
.contact {
  background-image: url(../images/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* 背景画像を固定する */
  background-attachment: fixed;
  text-align: center;
  padding: 160px 0;
}

.contact h2 {
  color: #fff;
}

.contact-inner .contact-text {
  color: #fff;
  padding: 30px 0 50px 0;
  line-height: 30px;
}

.contact-inner .contact-actions a {
  font-size: 20px;
  font-weight: 600;
  color: #eee;
  padding: 35px;
  border-radius: 15px;
  text-decoration: none;
  background-color: #05AC47;
  opacity: 1;
  transition: .3s ease-in-out;

}

.contact .contact-actions a:hover {
  color: #05AC47;
  background-color: #fff;
  border: 1px solid #05AC47;
  opacity: 0.8;
}




/* フッター */
#footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

#footer .footer-inner {
  margin: 0 auto;
  text-align: center;
}


/* フッター＞ナビ */
#footer .footer-nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 30px 0;
  flex-wrap: wrap;
}

.footer-nav a {
  color: #eee;
  text-decoration: none;
  font-size: 16px;
}

.footer-nav a:hover {
  color: #e88244;
}





/* ＝＝＝＝＝＝下層ページ＝＝＝＝＝＝ */
/* ＝＝＝＝＝＝仕事を探す＝＝＝＝＝＝ */

.job-main .inner {
  max-width: 1200px;
  padding: 15px 5px;
}

.job-main h2 {
  margin: 0 auto;
  width: fit-content;
  border-bottom: 2px solid #009ae0;
}

.job-main .jobs {
  display: flex;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(125, 55, 4, 0.26);
  margin-bottom: 20px;
}

.job-main .jobs img {
  max-width: 250px;
  height: auto;
  display: block;
}

.job-main a {
  text-decoration: none;
  color: #333;
}

.job-main a:hover {
  opacity: 0.8;
}

.job-main .jobs-text {
  margin: auto 15px;
}

.job-main .jobs-text h3 {
  font-size: 30px;
  padding: 10px 0;
}

.job-main .jobs-text h4 {
  font-weight: normal;
  font-size: 23px;
  line-height: 30px;
  padding-bottom: 20px;
}

.job-main .jobs-seed .catName {
  color: #333;
  background-color: #ccc;
}





/* ===下層ページ＞お知らせ=== */

.news-main .inner {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}

.news-main ul li {
  list-style: none;
  padding: 25px;
}

.news-main ul li a {
  text-decoration: none;
}

.news-main ul li a:hover {
  opacity: 0.5;
}


/* ページネーション全体のスタイル */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
  gap: 10px;
}

/* 数字ボタンのスタイル */
.pagination span {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #01A0E9;
  color: #01A0E9;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

/* 現在表示中の数字をハイライト */
.pagination span.active {
  background-color: #01A0E9;
  color: #fff;
}

/* ホバーした時 */
.pagination span:hover {
  background-color: #e1f5ff;
}






/* ======仕事を探す＜詳細ページ===== */
/* ===詳細ページ＜画像スライド=== */

/*==================================================
スライダーのためのcss
===================================*/
.works-slide {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 94%;
  margin: 0 auto;
}

.works-slide img {
  width: 30vw;
  /*スライダー内の画像を50vwにしてレスポンシブ化*/
  height: auto;
}

.works-slide .slick-slide {
  transform: scale(0.8);
  /*左右の画像のサイズを80%に*/
  transition: all .5s;
  /*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;
  /*透過50%*/
}

.works-slide .slick-slide.slick-center {
  transform: scale(1);
  /*中央の画像のサイズだけ等倍に*/
  opacity: 1;
  /*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;
  /*矢印の色*/
  border-right: 2px solid #666;
  /*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #ccc;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}


.table-title {
  font-size: 30px;
  padding: 15px 10px;
  font-weight: bold;
  background-color: #AFE9DF;
  margin-bottom: 10px;
}

table {
  width: 100%;
  max-width: 1200px;
  /* 広がりすぎないよう制限（お好みで調整してください） */
  margin: 0 auto 50px;
  /* 左右にautoを指定して中央寄せ、下に余白 */
  margin-bottom: 50px;
}

table tr {
  line-height: 80px;
  border-bottom: 1px solid #333;
}

table tr th {
  width: 20%;
  padding-left: 20px;
  font-size: 18px;
  background-color: #F2F2F3;
}

table tr td {
  padding-left: 20px;
  line-height: 40px;
}

iframe{
  width: 100%;
  max-width: 1200px;
  height: auto;
}


















/* レスポンシブ（スマホ） */
@media (max-width: 768px) {

  header nav {
    z-index: 100;
  }

  .catName {
    font-size: 10px;
    margin: 0;
    padding: 5px;

  }


  header nav,
  .Icon {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #AFE9DF;
    transition: all 0.6s;
    /* z-index は削除、または 1 だけ指定 */
  }

  header nav.panelactive {
    right: 0;
  }

  /* ボタンだけはメニューより上にいてほしいので、これだけに z-index を指定 */
  .openbtn {
    display: block;
    position: relative;
    /* relative以上の指定が必要 */
    z-index: 110;
  }


  /*==================================================
　5-2-1 3本線が×に
===================================*/
  /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
  .openbtn {
    /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
    position: relative;
    background: #57a2c7;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
  }

  /*ボタン内側*/
  .openbtn span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
  }

  .openbtn span:nth-of-type(1) {
    top: 15px;
  }

  .openbtn span:nth-of-type(2) {
    top: 23px;
  }

  .openbtn span:nth-of-type(3) {
    top: 31px;
  }

  /*activeクラスが付与されると線が回転して×に*/

  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
  }

  .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

  /* メニュー内のリストを縦並びにする */
  header ul#g-navi,
  .Icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }



  /* スライドショー装飾 */

  .slider-item {
    height: 50vh;
  }

  .slide-contents .slider-title {
    font-size: 32px;
    /* スマホに適切なサイズ */
    margin-bottom: 10px;
    padding: 10px;
  }

  .slide-contents .slider-sub {
    font-size: 16px;
  }

  /* 3つの条件ラベル部分 */
  .slide-contents .sub {
    font-size: 12px;
    padding: 4px 10px;
    display: inline-block;
    /* 横幅が足りない時に折り返せるように */
  }


  .slide-contents {
    position: absolute;
    /* 絶対配置 */
    top: 30%;
  }



  /* SNSバナーの配置をずらす */
  body section {
    padding: 50px 0;
  }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 横に2列の枠を作る */
    gap: 12px;
    /* ボタン同士の隙間 */
    padding-top: 30px;
    /* 左右に余白を作る */
    max-width: 280px;
    /* 広がりすぎ防止 */
  }

  /* 1番目のボタン（LINE）を2列分ぶち抜いて横長に見せる */
  .icons a:first-child {
    grid-column: 1 / 3;
  }

  /* 画像のサイズ調整 */
  .icons img {
    width: 100%;
    /* 親の枠いっぱいに広げる */
    max-width: 100%;
    /* 400px制限を解除 */
    height: auto;
    /* アスペクト比を維持 */
    object-fit: cover;
    /* 画像が歪まないように調整 */
  }


  section .title {
    font-size: 35px;
  }


  /* ==事業所紹介== */
  .company .inner h2 {
    font-size: 27px;
    line-height: 40px;
  }

  .company .inner p {
    font-size: 14px;
    line-height: 30px;
  }

  .company .inner .intro_p_main {
    font-size: 25px;
  }




  /* ==応募の流れ== */
  #flow .flow-text h3 {
    font-size: 100%;
  }

  #flow .flow-text p {
    font-size: 80%;
  }


  /* ==お知らせ== */

  .news-list {
    margin: 0 auto;
  }

  .news-list .news-item {
    font-size: 14px;
    padding: 20px 0;
  }

  .news-btn span {
    font-size: 12px;
    line-height: 25px;
  }

  /* ==仕事詳細== */
  .job-main .jobs img {
    height: auto;
  }

  /* ==よくある質問== */
  #faq .faq-item summary span {
    font-size: 18px;
  }

  #faq .faq-item .faq-answer {
    font-size: 14px;
  }


  .contact {
    /* iOSでの拡大バグを防ぐため、固定を解除する */
    background-attachment: scroll;
    background-size: cover;
  }

  /* ==フッター== */
  #footer {
    padding: 20px 0;
  }

  #footer .footer-nav ul {
    padding: 10px 0;
  }

  .footer-nav a {
    font-size: 12px;
  }

  #footer .footer-copy {
    font-size: 12px;
  }


  /* =====下層ページ===== */

  .job-main .jobs img {
    max-width: 120px;
    height: 120px;
  }

  .job-main .jobs-text h3 {
    font-size: 18px;
    padding: 5px 0;
  }

  .job-main .jobs-text h4 {
    font-size: 9px;
    line-height: 12px;
    padding-bottom: 5px;
  }

  .job-main .jobs-text .jobs-seed {
    font-size: 8px;
  }


  /* ===詳細ページ＞求人情報=== */
table tr {
  line-height: 30px;
}

table tr th {
  width: 20%;
  font-size: 12px;
  background-color: #F2F2F3;
}

table tr td {
  font-size: 12px;
  line-height: 25px;
}


}